@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 224 0% 100%;
    --foreground: 224 0% 10%;
    --card: 224 0% 100%;
    --card-foreground: 224 0% 15%;
    --popover: 224 0% 100%;
    --popover-foreground: 224 95% 10%;
    --primary: 224 51% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 186 10% 95%;
    --muted-foreground: 224 0% 40%;
    --accent: 186 10% 90%;
    --accent-foreground: 224 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 224 0% 100%;
    --border: 224 20% 82%;
    --input: 224 20% 50%;
    --ring: 224 51% 26%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 10% 10%;
    --foreground: 224 0% 100%;
    --card: 224 0% 10%;
    --card-foreground: 224 0% 100%;
    --popover: 224 10% 5%;
    --popover-foreground: 224 0% 100%;
    --primary: 224 51% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 186 10% 25%;
    --muted-foreground: 224 0% 65%;
    --accent: 186 10% 25%;
    --accent-foreground: 224 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 224 0% 100%;
    --border: 224 20% 50%;
    --input: 224 20% 50%;
    --ring: 224 51% 26%;
    --radius: 0.5rem;
  }
}

.heading {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
}

.title {
  @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0
}

.subtitle {
  @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight
}

.paragraph {
  @apply leading-7 [&:not(:first-child)]:mt-6
}

.unordered-list {
  @apply my-6 ml-6 list-disc [&>li]:mt-2
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}